<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.fo.mybatis.mapper.SampleMapper">
	<insert id="insertSample"
		parameterType="com.community.fo.mybatis.dto.SampleDTO">
		INSERT INTO board_table (id,writer, title, contents)
		VALUES (#{id},#{writer}, #{title}, #{contents})
	</insert>

	<select id="selectAllSamples" resultType="com.community.fo.mybatis.vo.SampleVo">
		SELECT id, writer, title, contents
		FROM board_table
		ORDER BY id DESC
	</select>
	<update id="updateSample" parameterType="com.community.fo.mybatis.dto.SampleDTO">
		UPDATE board_table
		SET title = #{title}, contents = #{contents}
		WHERE id = #{id}
	</update>
	<delete id="deleteSample" parameterType="com.community.fo.mybatis.dto.SampleDTO">
    	DELETE FROM board_table
    	WHERE id = #{id}
    	
	</delete>

</mapper>